body { height: 99%; margin-top: 36px; margin-bottom: 30px; }

#dollyeditor_top, #dollyeditor_bottom { box-sizing: content-box; font-family: verdana, sans-serif; font-size: 15px; text-align: left;}

#dollyeditor_top {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	height: 31px;
	background-color: white;
	border-bottom: 1px solid black;
	padding: 5px 0 0 5px;
}

#dollyeditor_bottom {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding: 5px 0 0 15px;
	background-color: white;
	border-top: 1px solid black;
}


#dollyeditor_top .de_logo {
	color: #569fd0;
	padding-left: 10px;
	font-size: 20px;
}

#dollyeditor_top .de_logo span { font-size: 10px; }

#dollyeditor_top #nicEditor {
	width: 950px;
	float: right;
	padding-right: 15px;
}


#dollyeditor_bottom .de_element {
	text-transform: lowercase;
	font-size: 15px;
	margin-right:30px;
	color: #569fd0;
}

#dollyeditor_bottom .de_element span.de_navtag { cursor: pointer; }
#dollyeditor_bottom .de_element span.de_navgt { color: black; }

.dollyeditor_select { background: rgba(59, 141, 226, 0.16); }

.dollyeditor_codeblock {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 600px;
	height: 300px;
	border: 1px solid black;
	background-color: white;
	z-index: 9999;
	padding: 15px;
}

#dollyeditor_codeblock textarea {
	font-size: 13px;
	width: 100%;
	height: 90%;
}

#de_codeblock_manage1, #de_codeblock_manage2 {
	display: inline;
	color: #5a77d1;
	font-size: 14px;
	padding: 7px 10px 10px 10px;
}
#de_codeblock_manage1 { float: left; } #de_codeblock_manage2 { float: right; }

#de_codeblock_manage1, #de_codeblock_manage2 span {
	padding-left: 10px;
	cursor: pointer;
}

.de_replaceblock_textarealeft, .de_replaceblock_textarearight { width: 46%; height: 50%; }

#dollyeditor_bottom .de_save {
	float: right;
	margin-right: 30px;
	text-decoration: none;
	color: #569fd0;
	font-weight: bold;
}